.InputDesign input{
    border-radius:30px!important;
    padding:10px 15px;
}
.newMargin button{
    margin:5px 20px;
    border-radius: 20px;
    padding:10px 20px;
}
.line{
    height:2px;
    background-color:blue;
    margin-top:10px;

}
.proBox{
    border:1px solid blue;
    padding:20px;
    box-shadow: 0px 0px 20px 0px gray;
    margin:10px;
    border-radius:10px;
}
img{
    width:100%;
    height:250px;
}
.hide{
    display:none;
}
.Myflex{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}